aniso8601==7.0.0
appdirs==1.4.4
asgiref==3.3.1
attrs==21.2.0
Automat==20.2.0
autopep8==1.5.4
beautifulsoup4==4.9.3
black==21.7b0
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.6
chardet==4.0.0
click==7.1.2
colorama==0.4.4
commonmark==0.9.1
constantly==15.1.0
cryptography==3.4.7
cssselect==1.1.0
dj-database-url==0.5.0
Django==3.1.12
django-heroku==0.3.1
filelock==3.0.12
Flask==1.1.2
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.1.0
h2==3.2.0
hpack==3.0.0
huggingface-hub==0.0.12
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
iniconfig==1.1.1
iso8601==0.1.16
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
keybert==0.4.0
koco==0.2.3
lxml==4.6.3
m3u8==0.9.0
MarkupSafe==1.1.1
meson==0.58.0
mypy-extensions==0.4.3
nltk==3.6.2
numpy==1.19.5
packaging==20.9
pandas==1.2.1
parsel==1.6.0
pathspec==0.9.0
Pillow==8.3.1
pluggy==0.13.1
priority==1.3.0
promise==2.3
Protego==0.1.16
protobuf==3.15.8
psutil==5.8.0
psycopg2==2.8.6
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
PyDispatcher==2.0.5
Pygments==2.9.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.1
pytz==2020.5
pywatchman==1.4.1
PyYAML==5.4.1
queuelib==1.6.1
rake-nltk==1.0.4
regex==2021.7.6
requests==2.25.1
rich==10.6.0
Rx==1.6.1
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.7.0
Scrapy==2.5.0
sentence-transformers==2.0.0
sentencepiece==0.1.96
service-identity==21.1.0
six==1.15.0
soupsieve==2.1
soynlp==0.0.493
sqlparse==0.4.1
threadpoolctl==2.2.0
tokenizers==0.10.3
toml==0.10.2
tomli==1.1.0
torch==1.9.0
torchvision==0.10.0
tqdm==4.61.2
transformers==4.8.2
Twisted==21.2.0
typing-extensions==3.10.0.0
urllib3==1.26.5
w3lib==1.22.0
Werkzeug==1.0.1
wget==3.2
whitenoise==5.2.0
zope.interface==5.4.0
